<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation=
                "http://www.springframework.org/schema/beans
                  https://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- bean definitions and configurations go here -->
    <bean id="kerry" class="County">
        <constructor-arg value="kerry"/>
    </bean>

    <bean id="DC Comics" class="Publisher">
        <constructor-arg value="DC Comics"/>
    </bean>

    <bean id="Arrowverse" class="Franchise">
        <constructor-arg value="Arrowverse"/>
        <constructor-arg ref="DC Comics"/>
    </bean>

    <bean id="Justice league" class="Franchise">
        <property name="franchiseName" value="Justice league"/>
        <property name="publisherName" ref="DC Comics"/>
    </bean>
</beans>