<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation=
                "http://www.springframework.org/schema/beans
                  https://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- bean definitions and configurations go here -->
    <bean id="kerry" class="County">
        <constructor-arg value="kerry"/>
    </bean>

    <bean id="DC Comics" class="Publisher" >
        <constructor-arg value="DC Comics"/>
    </bean>

    <bean id="Arrowverse" class="Franchise" autowire="byType" >
        <constructor-arg value="Arrowverse"/>
    </bean>

    <bean id="Justice league" class="Franchise" autowire="byType">
        <property name="franchiseName" value="Justice league"/>
    </bean>

    <bean id="DC Super Hero Girls" class="Franchise" autowire="byType">
        <property name="franchiseName" value="DC Super Hero Girls"/>
    </bean>

    <bean id="Black Canary" class="Hero">
        <constructor-arg value="Black Canary"/>
        <constructor-arg ref="Arrowverse"/>
    </bean>

    <bean id="Killer Frost" class="Hero">
        <constructor-arg value="Killer Frost"/>
        <constructor-arg ref="Arrowverse"/>
    </bean>

    <bean id="Green Arrow" class="Hero">
        <property name="heroName" value="Green Arrow"/>
        <property name="franchiseName" ref="Arrowverse"/>
    </bean>

    <bean id="Wonder Woman" class="Hero">
        <property name="heroName" value="Wonder Woman"/>
        <property name="franchiseName" ref="Justice league"/>
    </bean>

    <bean id="Aquaman" class="Hero">
        <constructor-arg value="Aquaman"/>
        <constructor-arg ref="Justice league"/>
    </bean>

    <bean id="Batman" class="Hero">
        <constructor-arg value="Batman"/>
        <constructor-arg ref="Justice league"/>
    </bean>


</beans>


